@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

/* Позиционирование ---------------- */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    /* padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none; */
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    /* min-height: 100%; */
    grid-template-columns: 1fr;
    grid-template-rows: minmax(789px, auto) 1fr minmax(173px, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* Типографика --------------------- */

html,
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    /*14px*/
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    color: #282828;
}

/* h2 */
.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499dd;
}

/* h3 */
.subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #0499DD;
}

/* Header -------------------- */

.header {
    grid-area: header;
}

/* Main ---------------------- */

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "popular-excursions"
        "about"
        "gallery"
        "reviews"
        "contacts";
}

.popular-excursions,
.about,
.gallery,
.reviews {
    margin-bottom: 150px;
}

/* Популярные экскурсии */
.popular-excursions {
    grid-area: popular-excursions;
}

/* О нас */
.about {
    grid-area: about;
}

/* Галерея */
.gallery {
    grid-area: gallery;
}

/* Отзывы */
.reviews {
    grid-area: reviews;
}

/* Форма связи */
.contacts {
    grid-area: contacts;
    margin: 0;
}

.contacts .contacts_bg {
    background-position: center;
    background-image: url(/assets/img/contacts_background.jpg);
    height: 0;
    min-height: 640px;
    display: block;
    padding-bottom: 44.44444%;
    background-size: cover;
    position: relative;
}

.contacts .contacts_wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    width: 38.9%;
    height: 100%;
    min-height: 640px;
    top: 0;
    left: 50%;
}

.contacts .contacts_wrapper form {
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    padding: 20.6% 16.4% 22.3% 14.8%;
}

.contacts .contacts_wrapper .form .title_white {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    font-size: 1.45em;
}

.contacts .contacts_wrapper .form span {
    display: block;
    color: rgba(255, 199, 0, 1);
    margin-top: 6px;
}

.contacts .contacts_wrapper .form .inputs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contacts .contacts_wrapper .form .inputs .error {
    display: none;
    color: rgba(255, 199, 0, 1);
}

.contacts .contacts_wrapper .form .inputs>input[type="text"],
.contacts .contacts_wrapper .form .inputs>input[type="tel"],
.contacts .contacts_wrapper .form .inputs>input[type="email"] {
    background-color: inherit;
    width: 100%;
    height: auto;
    border: 1px solid #FFFFFF;
    border-style: none none solid none;
    color: #FFFFFF;
    outline: none;
}

.contacts .contacts_wrapper .form .inputs>input[type="text"]::placeholder,
.contacts .contacts_wrapper .form .inputs>input[type="tel"]::placeholder,
.contacts .contacts_wrapper .form .inputs>input[type="email"]::placeholder {
    color: #FFFFFF;
}

.contacts .contacts_wrapper .form .inputs>input[type="button"] {
    background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
    border-radius: 60px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    width: 64%;
    min-width: 150px;
    padding: 16px 8%;
    border: 0;
}

@media screen and (min-width: 666px) and (max-width: 768px) {
    .contacts .contacts_wrapper {
        width: 52%;
        left: 37%;
    }

    .contacts .contacts_bg {
        background-image: url(/assets/img/contacts_background_iPad.jpg);
    }

    .contacts .contacts_wrapper form {
        padding: 137px 43px;
    }
}


/* Footer -------------------- */

.footer {
    grid-area: footer;
    min-height: 173px;
    width: 100%;
    /* max-width: 1440px; */
    background: #EDEDED;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer .footer_wrapper {
    /* min-height: 144px; */
    padding: 30px 10%;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    width: 100%;
}

.footer .footer_wrapper .logo_color {
    /* height: 80px; */
    /* width: 114px; */
}

.footer .footer_wrapper .menu_wrapper {
    width: 100%;
    max-width: 1100px;
    /*перевести в более гибкий формат*/
    padding: 23px 0 23px 0;
    display: flex;
    flex-direction: row;
}


.footer .footer_wrapper .menu_wrapper .menu,
.footer .footer_wrapper .menu_wrapper .contacts,
.footer .footer_wrapper .menu_wrapper .social {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 162px;
    max-height: 124px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .footer_wrapper .menu_wrapper .menu {
    margin: 0 9% 0 6%;
}

.footer .footer_wrapper .menu_wrapper .social {
    margin-left: 6%;
}

.footer .footer_wrapper .contacts li,
.footer .footer_wrapper .social li {
    display: flex;
    flex-direction: row;
}

.footer .footer_wrapper .menu_wrapper .menu a,
.footer .footer_wrapper .menu_wrapper .contacts a,
.footer .footer_wrapper .menu_wrapper .social a {
    text-decoration: none;
    color: #282828;
}

.footer .footer_wrapper .menu_wrapper .contacts img,
.footer .footer_wrapper .menu_wrapper .social img {
    margin-right: 9px;
}

.footer .footer_wrapper .menu_wrapper .social .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 112px;
}

@media screen and (min-width: 666px) and (max-width: 768px) {
    .footer .footer_wrapper {
        padding: 30px 9%;
    }

    .footer .footer_wrapper .logo_color {
        height: 93px;
        max-width: 65px;
        align-self: center;
    }

    .footer .footer_wrapper .menu_wrapper .menu {
        margin: 0 5% 0 5%;
        min-width: 120px;
    }

    .footer .footer_wrapper .menu_wrapper .social {
        margin-left: 4%;
    }
}

@media screen and (min-width: 360px) and (max-width: 665px) {}